*{margin:0; padding:0;}

.login-bg {
    height:100vh; overflow:hidden;
    background-color:darkgray;
}

/* vh(viewport height) : 100vh는 전체높이->전체 높이의 100%와 같음 */

.login {
    width:360px; margin:100px auto 0; padding:20px; border:1px solid #ddd; border-radius:5px; background-color:#fff;
}